{% extends 'pro.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="{% url 'dash' %}">Neibars</a>
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        {% for profile in profile %}
        <div class="user-pic">
          <img class="img-responsive img-rounded"
          src="https://res.cloudinary.com/enock/{{profile.image}}"
            alt="User picture">
        </div>
        {% endfor %}
        <div class="user-info">
          <span class="user-name">{{user.username}}
          </span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search Business..">
            <div class="input-group-append" style="padding-left: 3px;height: 30px;">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="{% url 'personal' %}"> Profile
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="{% url 'business' %}">
              <i class="fa fa-book"></i>
              <span>Business</span>
            </a>
          </li>
          <li>
            <a href="{% url 'amenities' %}">
              <i class="fa fa-calendar"></i>
              <span>Amenities</span>
            </a>
          </li>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="{% url 'logout' %}">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  {% block main %}
  {% endblock %}
</div>
{% endblock %}