{% extends 'pro.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}

<section class="create">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>Welcome</h3>
                <p>You are 30 seconds away from creating your own account!</p>
                <input type="submit" id="ghostBtn" name="" value="Logout"/><br/>
            </div>
            <div class="col-md-9 register-right">
                <img  class="img-fluid" src="../../../static/img/1.png"  id="logo" alt="logo">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading"><span class="br">Fix Yourself</span> in a Clan</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <input required type="text" class="form-control" placeholder="Hood Name *" name="hood" />
                                </div>
                                <div class="mb-3">
                                    <input required type="text" class="form-control" placeholder="Location *" name="location" />
                                </div>
                                <div class="mb-3">
                                    <input required class="form-control" type="file" name="image">
                                    <div class="form-text">Upload your profile photo</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <textarea required class="form-control" placeholder="Enter Bio...*" name="bio" rows="6"></textarea>
                                </div>
                                <input type="submit" class="btnRegister"  value="Submit"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
