{% extends 'sidebar.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<!-- sidebar-wrapper  -->
<main class="page-content">
  <div class="container" id="tops">
    <div class="row">
      <div class="col-md-12">
        <div class="top">
          <h3>
            Neibars <span class="br">Dashboard</span>
          </h3>
          <img src="../../../static/img/1.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div id="jumbos">
          <div class="users" style="background-color: #ff5f13;text-align:center">
            <h6>
              Hood Count
            </h6>
          </div>
          <div class="body p-2">
            <p style="display: inline-block;margin-left: 40%;">200</p>
            <p style="display: inline-block;"><i class="fas fa-users" style="color: #ff5f13;"></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div id="jumbos">
          <div class="users" style="background-color: #e1b382;text-align:center">
            <h6>
              Hood Count
            </h6>
          </div>
          <div class="body p-2">
            <p style="display: inline-block;margin-left: 40%;">200</p>
            <p style="display: inline-block;"><i class="fas fa-users" style="color: #e1b382;"></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div id="jumbos">
          <div class="users" style="background-color: #fff5d7;text-align:center">
            <h6>
              Hood Count
            </h6>
          </div>
          <div class="body p-2">
            <p style="display: inline-block;margin-left: 40%;">200</p>
            <p style="display: inline-block;"><i class="fas fa-users" style="color: #2d545e;"></i></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div id="jumbos">
          <div class="users" style="background-color: #00c6ff;text-align:center">
            <h6>
              Hood Count
            </h6>
          </div>
          <div class="body p-2">
            <p style="display: inline-block;margin-left: 40%;">200</p>
            <p style="display: inline-block;"><i class="fas fa-users" style="color: #00c6ff;"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="jumbotron">
              <p>Create Update</p>
              <div class="post_form">
                <form action="">
                  <div class="mb-3">
                    <textarea class="form-control" name="post_data" rows="3"></textarea>
                  </div>
                  <div class="mb-3">
                    <input class="form-control" type="file" name="post_pic">
                    <div class="form-text">Upload your profile photo</div>
                  </div>
                  <input type="submit" id="assaBtn" class="btn btn primary" value="Submit" />
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="jumbos" class="updates mt-2">
              <div class="users">
                <h6>Hood Updates</h6>
              </div>
              <div class="jumbotron" id="scrolls">
                <div class="hood_post">
                  <div class="data">
                    <img src="../../../static/img/1.png" class="img-fluid" alt="" srcset="">
                    <p>Enock Abere</p>
                  </div>
                  <p>
                    To confirm if the image was uploaded successfully,
                    click on the just added image, and click on the link there.
                  </p>
                  <p style="display: inline-block;"><i class="far fa-heart" style="color: #ff5f13;"></i> 20 likes</p>
                  <p style="display: inline-block;padding: 20px;"><i class="fas fa-clock" style="color: #ff5f13;"></i>
                    Posted on: 20th</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div id="jumbos">
              <div class="users">
                <h6>Hood Members</h6>
              </div>
              <div class="data">
                <img src="../../../static/img/1.png" class="img-fluid" alt="" srcset="">
                <p>Enock Abere</p>
                <strong>Nairobi</strong>
              </div>
              <div class="data">
                <img src="../../../static/img/1.png" class="img-fluid" alt="" srcset="">
                <p>Enock Abere</p>
                <strong>Nairobi</strong>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="jumbos" class="emer mt-2">
              <div class="users">
                <h6>Emergency Contacts</h6>
              </div>
              <div class="data p-3">
                <p>Police</p>
                <strong style="float: right;">079999999</strong>
              </div>
              <div class="data p-3">
                <p>Hospital</p>
                <strong style="float: right;">079999999</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- page-content" -->

{% endblock %}