{% extends 'sidebar.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<!-- sidebar-wrapper  -->
<main class="page-content">
  <div class="container" id="tops">
    <div class="row">
      <div class="col-md-12">
        <div class="top">
          <h3>
            Neibars <span class="br">Profile</span>
          </h3>
          <img src="../../../static/img/1.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
            <div class="accordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Create Business
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="post_form">
                            <form action="{% url 'addbiz' %}" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                                <div class="mb-3">
                                    <input required type="text" class="form-control" placeholder="Business Name *" name="b-name" />
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" name="b-info" placeholder="About Business.. *" rows="3"></textarea>
                                  </div>
                                <div class="mb-3">
                                    <input required type="text" class="form-control" placeholder="Location *" name="b-location" />
                                </div>
                              <div class="mb-3">
                                <input class="form-control" type="file" name="b_pic">
                                <div class="form-text">Upload business photo if available</div>
                              </div>
                              <input type="submit" id="assaBtn" class="btn btn primary" value="Submit" />
                            </form>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-6">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Add Amenity
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <form action="">
                        <div class="mb-3">
                            <select class="form-select" name="a-type" aria-label="Default select example">
                                <option selected>Select Type</option>
                                <option value="Police">Police</option>
                                <option value="Hospital">Hospital</option>
                                <option value="Social">Social</option>
                              </select>
                        </div>
                        <div class="mb-3">
                            <input required type="text" class="form-control" maxlength="15" placeholder="Contacts *" name="a-contact" />
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" name="a-info" placeholder="Additional information.. *" rows="3"></textarea>
                            <div class="form-text">Optional</div>
                        </div>
                      <input type="submit" id="assaBtn" class="btn btn primary" value="Submit" />
                    </form>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div id="jumbos" class="updates mt-2">
              <div class="users">
                <h6>My Updates</h6>
              </div>
              <div class="jumbotron">
                <div class="hood_post">
                  <div class="data">
                    <img src="../../../static/img/1.png" class="img-fluid" alt="" srcset="">
                    <p>Enock Abere</p>
                  </div>
                  <p>
                    To confirm if the image was uploaded successfully,
                    click on the just added image, and click on the link there.
                  </p>
                  <img src="../../../static/img/12.jpg" class="img-fluid" alt="">
                  <p style="display: inline-block;"><i class="far fa-heart" style="color: #ff5f13;"></i> 20 likes</p>
                  <p style="display: inline-block;padding: 20px;"><i class="fas fa-clock" style="color: #ff5f13;"></i>
                    Posted on: 20th</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div id="jumbos">
              <div class="users">
                <h6>Profile Information</h6>
              </div>
              {% for profile in profile %}
              <div class="data p-2">
                <h6>Hood Name</h6>
                <p>
                    {{profile.hood}}
                </p><hr>
                <h6>Bio</h6>
                <p>
                    {{profile.bio}}
                </p><hr>
                <h6>My Location</h6>
                <p>
                  {{profile.location}}
                </p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="jumbos" class="emer mt-2">
              <div class="users">
                <h6>My Businesses</h6>
              </div>
              <div class="data p-3">
                <p>Police</p>
                <strong style="float: right;">079999999</strong>
              </div>
              <div class="data p-3">
                <p>Hospital</p>
                <strong style="float: right;">079999999</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- page-content" -->

{% endblock %}