{% extends 'sidebar.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<!-- sidebar-wrapper  -->
<main class="page-content">
  <div class="container" id="tops">
    <div class="row">
      <div class="col-md-12">
        <div class="top">
          <h3>
            Neibars <span class="br">Business</span> Search Results
          </h3>
          <img src="../../../static/img/1.png" alt="">
        </div>
      </div>
    </div>
  </div>

  
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div id="jumbos" class="updates mt-2">
              <div class="users">
                <h6>All Businesses</h6>
              </div>
              <div class="jumbotron">
                <div class="hood_post">
                  <div class="data">
                    <img src="../../../static/img/1.png" class="img-fluid" alt="" srcset="">
                    <p>Enock Abere</p>
                  </div>
                  <p>
                    To confirm if the image was uploaded successfully,
                    click on the just added image, and click on the link there.
                  </p>
                  <img src="../../../static/img/12.jpg" class="img-fluid" alt="">
                  <p style="display: inline-block;padding: 20px;"><i class="fas fa-clock" style="color: #ff5f13;"></i>
                    Business Name: 20th</p>
                  <p style="display: inline-block;padding: 20px;"><i class="fas fa-clock" style="color: #ff5f13;"></i>
                    Location: 20th</p>
                    <p style="display: inline-block;padding: 20px;"><i class="fas fa-clock" style="color: #ff5f13;"></i>
                        Posted on: 20th</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div id="jumbos">
              <div class="users">
                <h6>Info</h6>
              </div>
              <div class="data p-2">
                <p>
                    To confirm if the image was uploaded successfully, 
                    click on the just added image, and click on the link there.

                    Head Over to your account profile to create or add a business to the hood.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- page-content" -->

{% endblock %}